@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,400;1,500;1,700&family=Nanum+Pen+Script&display=swap');


* {
    padding:0px;
    margin: 0px;
    box-sizing:border-box;
}

:root {
    --font-family-logo:'Nanum Pen Script', cursive;
    --font-family-regular:'Fira Sans', sans-serif;
    --primary-color: #001219;
    --secondary-color: #edf6f9;
}

body {
    font-family: var(--font-family-regular);
}

header {
    height : 10vh;
    width:100vw;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    font-family: var(--font-family-logo);
    display:flex;
    align-items: center;
    justify-content: center;
}
.hero-section {
    display:flex;
    height:auto;
}

#hero-image {
    flex-grow: 1;
}

.buy-btn {
    padding:6px;
    border-radius: 14px;
    border: none;
    background-color: var(--primary-color);
    color:var(--secondary-color);
    height:50px;
    width:120px;
    font-family: var(--font-family-regular);
    position:relative;
    bottom:80px;
    left:50%;
}

#pizza-display {
    display: flex;
    justify-content: space-evenly;
    height:36vh;
    /* border:1px solid black; */
}

.pizzaItem {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.pizzaItem > img {
    height:80%;
}

.form-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height:30vh;
}

input {
    width:25vw;
    padding:5px;
    border-radius: 12px;
}

.submitBtn {
    background-color: var(--primary-color);
    color:var(--secondary-color);
    border-radius: 12px;
    padding:4px;
    width:80px;
    border:1px solid var(--secondary-color);
}
